# 문제
- 1. 'subsribed' 컬럼에서 가장 빈도수가 많은 날짜 구하기
- 2. 1에서구한 날짜의 day값을 정수로 구하기

## 오답
- 가장 많은 날짜 구하기 !! value_counts()
- index구하고 싶을때는 df.index로

In [2]:
import pandas as pd
df = pd.read_csv("../data/type1_data1.csv")
df.head()

     id   age city    f1  f2    f3    f4         f5  subscribed   views
0  id01   2.0   서울   NaN   0  gold  ENFJ  91.297791  2024-07-16  6820.0
1  id02   9.0   서울  70.0   1   NaN  ENFJ  60.339826  2024-05-12  2534.0
2  id03  27.0   서울  61.0   1  gold  ISTJ  17.252986  2024-03-16  7312.0
3  id04  75.0   서울   NaN   2   NaN  INFP  52.667078  2024-07-21   493.0
4  id05  24.0   서울  85.0   2   NaN  ISFJ  29.269869  2024-03-07  1338.0

In [ ]:
1. 
df['subscribed'].value_counts()

subscribed
2025-02-17    16
2024-06-21     3
2024-04-03     2
2024-07-29     2
2024-05-28     2
              ..
2024-07-08     1
2024-07-20     1
2024-06-10     1
2024-02-01     1
2024-05-20     1
Name: count, Length: 96, dtype: int64

In [15]:
2.
max = df['subscribed'].value_counts()
max.index[0][-2:]

'17'