# 문제
- 1. views 컬럼의 결측 데이터 0 대체
- 2. 1컬럼 상위 10번째 값 구하기
- 3. 1컬럼에서 2값으로 상위 10개의 값모두 대체
- 4. 1컬럼 전체합 정수로 구하기

## 오답 
- 내림차순 정렬 -> sort_values('열이름', ascending= False)
- 10번째 행인데 iloc쓸거면 10이 아닌 9가 되어야 한다...!
- df['views'].sort_values(ascending=False)[:10] -> 복사본만들어 선택하기때문에 대체안됨 
   - iloc, loc 이용

In [54]:
import pandas as pd
df = pd.read_csv("../data/type1_data1.csv")

df.head()

     id   age city    f1  f2    f3    f4         f5  subscribed   views
0  id01   2.0   서울   NaN   0  gold  ENFJ  91.297791  2024-07-16  6820.0
1  id02   9.0   서울  70.0   1   NaN  ENFJ  60.339826  2024-05-12  2534.0
2  id03  27.0   서울  61.0   1  gold  ISTJ  17.252986  2024-03-16  7312.0
3  id04  75.0   서울   NaN   2   NaN  INFP  52.667078  2024-07-21   493.0
4  id05  24.0   서울  85.0   2   NaN  ISFJ  29.269869  2024-03-07  1338.0

In [55]:
#1.
df['views'].fillna(0, inplace = True)

/var/folders/_9/llxc5y7x5n92cx6h7g9nfrl40000gn/T/ipykernel_61309/4042982197.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['views'].fillna(0, inplace = True)

In [61]:
#2.
view10 = df['views'].sort_values(ascending= False).iloc[9]
view10

9877.0

In [62]:
#3. 오답
df['views'].sort_values(ascending=False)[:10] = view10
df['views'].sort_values(ascending=False)[:10]

5      21550.0
56     19589.0
83     19139.0
32     17421.0
100    15535.0
10     15535.0
104    13543.0
114    10346.0
9       9992.0
113     9877.0
Name: views, dtype: float64

In [63]:
#3. 정답
top10_index = df['views'].sort_values(ascending=False)[:10].index
top10_index

Index([5, 56, 83, 32, 100, 10, 104, 114, 9, 113], dtype='int64')

In [64]:
df['views'].loc[top10_index] = view10

/var/folders/_9/llxc5y7x5n92cx6h7g9nfrl40000gn/T/ipykernel_61309/2920477782.py:1: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  df['views'].loc[top10_index] = view10
/var/folders/_9/llxc5y7x5n92cx6h7g9nfrl40000gn/T/ipykernel_61309/2920477782.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['views'].loc[top10_index] = view10

In [65]:
 # 확인
df['views'].sort_values(ascending=False)[:10]

100    9877.0
114    9877.0
5      9877.0
113    9877.0
56     9877.0
9      9877.0
10     9877.0
104    9877.0
32     9877.0
83     9877.0
Name: views, dtype: float64

In [66]:
#4. 
answer = int(df['views'].sum())
answer

652812