## 문제 
- 1. views의 1사분위수, 3사분위수, IQR 계산하기
- 2. 이상치 조건에 맞는 데이터 찾기
- 3. 이상치 데이터의 views 컬럼합 정수로 구하기

## 오답
- or 는 |

In [1]:
import pandas as pd
df = pd.read_csv("../data/type1_data1.csv")

In [5]:
#1. 
I1 = df['views'].quantile(.25)
I3 = df['views'].quantile(.75) #8373
I1

3031.0

In [6]:
IQR = I3-I1
IQR

5442.5

In [13]:
#2. 
mask_min = I1 - (IQR*1.5)
mask_max = I3 + (IQR*1.5)
outlier = df[(df['views'] < mask_min) |  (df['views'] > mask_max)]
outlier

      id   age city    f1  f2   f3    f4         f5  subscribed    views
5   id06  22.0   서울  57.0   0  vip  INTP  20.129444  2024-09-12  21550.0
32  id32  25.0   부산  64.0   0  vip  ISFJ  13.049921  2024-05-24  17421.0
56  id56  59.0   대구   NaN   1  vip  ESTJ  73.586397  2024-04-05  19589.0
83  id83  73.0   경기  50.0   1  vip  ENTP  80.138280  2024-09-26  19139.0

In [14]:
#3. 
int(outlier['views'].sum())

77699